{% extends 'base.html' %} {% block content %}

<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col col-lg-9 col-xl-7">
    <div class="card rounded-3">
      <div class="card-body p-4">
        <h4 class="text-center my-3 pb-3">Taskify</h4>

        <form
          class="row g-3 justify-content-center align-items-center mb-4 pb-2"
          method="post"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="col">
            <label for="form1" class="visually-hidden">Add a new todo</label>
            <input
              type="text"
              id="form1"
              class="form-control"
              placeholder="Add a new todo"
              name="app_name"
              required
            />
          </div>

          <div class="col-auto">
            <label for="progress" class="visually-hidden">Progress</label>
            <select name="app_progress" id="progress" class="form-select">
              <option value="In progress">In progress</option>
              <option value="Completed">Completed</option>
            </select>
          </div>

          <div class="col-auto">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>

        <table class="table mb-4">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Todo item</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% if apps %} {% for app in apps %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{app.name}}</td>
              <td>{{app.progress}}</td>
              <td>
                <button type="submit" class="btn btn-success ms-1">Edit</button>
                <button type="submit" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            {% endfor %} {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<footer class="container mt-3 text-center">
  <p>&copy; {{year}} Taskify. All rights reserved.</p>
</footer>

{% endblock %}
